$font-color: #811f33;
$link-color: #a2a2a2;

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700);

html {
  font-size: 12px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  border: 1px solid black;
  box-sizing: border-box;

  width: 100%;
  max-width: 1600px;
  min-width: 1024px;
}

svg {
  font-family: "Titillium Web", sans-serif;

  rect.background {
    fill: white;
  }

  .link {
    stroke: $link-color;
  }

  .node {
    stroke-width: 1;
  }

  .label {
    text-transform: uppercase;
    font-weight: 400;

    fill: white;

    font-size: 1.2rem;

    &.main {
      font-size: 1.5rem;
    }
  }

  .label-image {
    fill: $font-color;

    .name {
      font-size: 1.1rem;
      font-weight: 700;
    }

    .desc {
      font-size: 1rem;
      font-weight: 600;

      &.strong {
        font-weight: 700;
      }
    }
  }
}